{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    <h1 class="title">Tableau de bord - Administration</h1>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h3>E-Commerce Vigneron</h3>
                </div>
                <div class="card-body">
                    <p>Bienvenue dans votre espace d'administration. Utilisez le menu de navigation pour accéder aux différentes sections.</p>
                    <ul>
                        <li><strong>Catalogue</strong> : Gérer les produits et catégories</li>
                        <li><strong>Commandes</strong> : Consulter et gérer les commandes clients</li>
                        <li><strong>Blog</strong> : Rédiger et publier des articles</li>
                        <li><strong>Communication</strong> : Répondre aux messages de contact et gérer les abonnés newsletter</li>
                        <li><strong>Utilisateurs</strong> : Gérer les comptes utilisateurs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <i class="fa fa-shopping-cart fa-3x mb-3 text-primary"></i>
                    <h5 class="card-title">Nouvelles Commandes</h5>
                    <p class="card-text">Consultez les dernières commandes de vos clients</p>
                    <a href="{{ ea_url().setController('App\\Controller\\Admin\\OrderCrudController').setAction('index') }}" class="btn btn-primary">
                        Voir les commandes
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <i class="fa fa-wine-bottle fa-3x mb-3 text-success"></i>
                    <h5 class="card-title">Ajouter un Vin</h5>
                    <p class="card-text">Ajoutez un nouveau produit à votre catalogue</p>
                    <a href="{{ ea_url().setController('App\\Controller\\Admin\\ProductCrudController').setAction('new') }}" class="btn btn-success">
                        Ajouter un nouveau vin
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <i class="fa fa-newspaper fa-3x mb-3 text-info"></i>
                    <h5 class="card-title">Articles de Blog</h5>
                    <p class="card-text">Gérer les articles et actualités du domaine</p>
                    <a href="{{ ea_url().setController('App\\Controller\\Admin\\PostCrudController').setAction('index') }}" class="btn btn-info">
                        Gérer le blog
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <i class="fa fa-envelope fa-3x mb-3 text-warning"></i>
                    <h5 class="card-title">Messages de Contact</h5>
                    <p class="card-text">Répondre aux messages des visiteurs</p>
                    <a href="{{ ea_url().setController('App\\Controller\\Admin\\ContactMessageCrudController').setAction('index') }}" class="btn btn-warning">
                        Voir les messages
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
