{% extends 'layout.html.twig' %}

{% block title %}Actualités - Domaine de la Gardiole{% endblock %}

{% block body %}
<div class="container my-5">
    {# Header #}
    <div class="row mb-5">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-4 mb-3">Actualités du Domaine</h1>
            <p class="lead text-muted">Découvrez nos derniers articles, événements et nouveautés</p>
        </div>
    </div>

    <div class="row">
        {# Main content #}
        <div class="col-lg-8">
            {% if posts is empty %}
                <div class="alert alert-info">
                    <i class="bi bi-info-circle"></i> Aucun article publié pour le moment.
                </div>
            {% else %}
                {# Articles list #}
                <div class="row g-4">
                    {% for post in posts %}
                        <div class="col-12">
                            {{ include('blog/_article_card.html.twig', { post: post }) }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        {# Sidebar #}
        <div class="col-lg-4">
            {{ include('blog/_sidebar.html.twig', { categories: categories }) }}
        </div>
    </div>
</div>
{% endblock %}
